/*


*/

html, body {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}



.wrapper {
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
}

nav {
  overflow: hidden;
  height: 3.5rem;
  background-color: #5a2a88;
  padding-left: 2em;
  padding-right: 2em;

  display: grid;
  grid-template-columns: 100px 1fr 150px;
  grid-template-areas:
    "logo links lang"
}

.sticky {
  position: fixed;
  width: 100%;
}

ul#nav-links {
  grid-area: links;
  list-style: none;
  margin: 0;
  font-size: 13px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: flex-end;
  align-content: stretch;
}

#nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  position: relative;
  display: inline-block;
  padding: 1.5em;
  transition: background-color 0.7s ease;
  -webkit-transition: all 0.7s ease;
}

#nav-links a:hover {
  background-color: #6c4097;
}

#nav-links a:active {
  background-color: #dec3fa;
}

#logo {
  grid-area: logo;
  height: 90%;
  width: auto;
  padding-top: 0.1em;
}

#nav-lang{
  grid-area: lang;
  text-align: center;
}

#nav-lang a {
  text-decoration: none;
  text-transform: uppercase;
  color: #dec3fa;
  font-size: 18px;
  display: inline-block;
  position: relative;
  margin: 1em 3em 0.7em 0.9em;
  border-bottom: 1px solid #5a2a88;

  transition: color;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#nav-lang a:hover {
  border-bottom: 2px solid #774da1;
  color: #fff;
}

#nav-lang a:active {
  border-bottom: 2px solid #fff;
}


.main-head {
  width: 100%;
  height: 45em;
  background: url("img/header.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper.home {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  display: grid;

  grid-template-columns: [first] 29% [line2] 6.5% [line3] 14.5% [line4] 14.5% [line5] 6.5% [line6] 29% [end];
  grid-template-rows: [row-first] 15% [row-line2] 30% [row-line3] 2% [row-line4] 23% [row-line5] 23% [row-end];
}

h1#announce {
  font-size: 2.7em;
  font-weight: normal;
  width: 450px;

  grid-column-start: first;
  grid-column-end: line4;
  grid-row-start: row-line2;
  grid-row-end: row-line3;
}

button.home {
  text-transform: uppercase;
  font-weight: 500;
  width: 250px;
  height: 50px;
  padding: 1.2rem 2rem 2rem 2rem;
  font-size: 0.8rem;
  background-color: yellow;
  text-align: center;
  border-radius: 25px;
  margin: auto;
  display: inline-block;

  transition: background-color;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button.purple {
  background-color: #dec3fa;
  border: 1px solid #c3abdc;
}

button.purple:hover,
button.purple:focus {
  background-color: #d0b2ef;
}

button.yellow {
  background-color: #f2c944;
  border: 1px solid #d5b13c;
}

button.yellow:hover,
button.yellow:focus {
  background-color: #e9c03c;
}

button#seek {
  grid-column-start: first;
  grid-column-end: line2;
  grid-row-start: row-line4;
  grid-row-end: row-line5;
}

button#offer {
  grid-column-start: line6;
  grid-column-end: end;
  grid-row-start: row-line4;
  grid-row-end: row-line5;
}

button#newsletter {
  grid-column-start: line3;
  grid-column-end: line5;
  grid-row-start: row-line5;
  grid-row-end: row-end;
}

.main-foot {
  border-top: 2px solid lightgrey;
  background-color: yellow;
  height: calc(100vh - 48.5em);
}

.footer-nav {
  --linkColor: #ffeaa7;
}

.footer-nav a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  display: block;
  margin: 3em 4em;

  background:
     linear-gradient(
       to bottom, var(--linkColor) 0%,
       var(--linkColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 2px;
  color: #000;
  text-decoration: none;
  transition: background-size .5s;
}

a:hover {
  background-size: 4px 50px;
}

ul.footer-nav {
  list-style: none;
  margin: 0;
  font-size: 14px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: center;
}

.footer-social {
  list-style: none;
  margin-top: 1em;
  font-size: 12px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  display: flex;
  justify-content: center;
}

ul.footer-social a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 1.5em;
  margin-top: 2em;
}

a#email {
  padding-top: 1.8em;
}

a#fb {
  color: #f2c944;
}

div.copyright {
  font-size: 11px;
  text-align: center;
  padding: 2em;
  margin-top: 4em;
  align-self: flex-end;
}
