/*


*/

html, body {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  display: grid;
}

header {
  width: 100%;
  height: auto;
}

nav {
  background-color: yellow;
  overflow: hidden;
  height: 3.5rem;
  background-color: #5a2a88;
  padding-left: 2em;
  padding-right: 2em;

  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas:
    "logo links lang"
}

nav ul {
  grid-area: links;
  list-style: none;
  margin: 0;
  font-size: 14px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  display: flex;
  justify-content: flex-end;
  align-content: stretch;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5em;
}


#logo {
  grid-area: logo;
  height: 90%;
  width: auto;
}

#nav-lang {
  grid-area: lang;
  color: white;
  font-size: 18px;
  padding: 1em;
  text-align: right;
}

.main-head {
  width: 100%;
  height: 50em;
  background: url("img/header.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper.home {
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: [first] 33.3% [line2] 16.6% [line3] 33.3% [line4] 16.6% [end];
  grid-template-rows: [row-first] 15% [row-line2] 30% [row-line3] 20% [row-line4] 20% [row-end];
}

h1#announce {
  font-size: 2.7em;
  font-weight: normal;

  grid-column-start: first;
  grid-column-end: line3;
  grid-row-start: row-line2;
  grid-row-end: row-line3;
