/*


*/

html, body {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
}


.wrapper.services {
  display: grid;
  grid-template-rows: 3.5rem auto auto;
  grid-template-areas:
    "nav"
    "content"
    "footer";
}

.content {
  grid-area: content;
  height: 100%;
  margin: 2em;
}

.wrapper.page-content {
  width: 80%;
  max-width: 1200px;
  margin-top: 1em;
}

.wrapper.offering {
  display: grid;
  margin-bottom: 10em;

  grid-template-columns: 1fr 7em 1fr;
  grid-template-rows: auto 5em auto;
  grid-template-areas:
  "intro intro intro"
  ". . ."
  "english . french";
}

.wrapper.offering > div.page-intro {
  grid-area: intro;
}

.wrapper.offering > button {
  margin-bottom: 2em;
}

#eng {
  grid-area: english;
}

#fr {
  grid-area: french;
}

.category-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 2em;
}

.seek-category {
  width: 47%;
  margin-bottom: 1em;
}

.category-description {
  border: 1px solid grey;
  padding: 0 1em;
}

.fa-arrow-right {
  color: #f2c944;
  font-size: 1.2em;
}

.category-description > h3 {
  font-weight: normal;
}

h5.search-category {
  font-weight: normal;
  text-align: right;
  padding-right: 3em;
  -webkit-transition: padding-right .2s ease-in;
  transition: padding-right .2s ease-in;
}

.seek-category > a {
  text-decoration: none;
  color: black;
}

h5.search-category:hover, h5.search-category:focus {
  padding-right: 2.7em;
}

h5.search-category:active {
  padding-right: 2em;
}

h1.page-title {
  font-size: 2.7em;
}



/************ FULL WIDTH NAV **********/

nav {
  grid-area: nav;
  overflow: hidden;
  height: 3.5rem;
  background-color: #5a2a88;
  padding-left: 2em;
  padding-right: 2em;

  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-areas:
    "logo links"
}

.sticky {
  position: fixed;
  width: 100%;
}

ul#nav-links {
  grid-area: links;
  list-style: none;
  margin: 0;
  font-size: 13px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: flex-end;
  align-content: stretch;
}

#nav-links a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  position: relative;
  display: inline-block;
  padding: 1.5em 1em;;
  transition: background-color 0.7s ease;
  -webkit-transition: all 0.7s ease;
}

#nav-links a:hover {
  background-color: #6c4097;
}

#nav-links a:active {
  background-color: #dec3fa;
}

#logo {
  grid-area: logo;
  height: 3em;
  width: auto;
  padding-top: 0.1em;
}

#nav-lang{
  text-align: center;
}

#nav-lang a {
  text-decoration: none;
  text-transform: uppercase;
  color: #dec3fa;
  font-size: 16px;
  display: inline-block;
  position: relative;
  margin: -0.3em 0 0.7em 0.9em;
  border-bottom: 1px solid #5a2a88;

  transition: color;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

#nav-lang a:hover {
  border-bottom: 2px solid #774da1;
  background-color: #5a2a88;
  color: #fff;
}

#nav-lang a:active {
  border-bottom: 2px solid #fff;
  background-color: #5a2a88;
}
/************ HOMEPAGE ***********/
header {
  width: 100%;
  height: auto;
}

.main-head {
  width: 100%;
  height: 45em;
  background: url("img/header.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper.home {
  width: 80%;
  max-width: 1200px;
  height: 100%;
  display: grid;

  grid-template-columns: [home-first] 29% [home-line2] 6.5% [home-line3] 14.5% [home-line4] 14.5% [home-line5] 6.5% [home-line6] 29% [home-end];
  grid-template-rows: [home-row-first] 15% [home-row-line2] 30% [home-row-line3] 2% [home-row-line4] 23% [home-row-line5] 23% [home-row-end];
}

h1#announce {
  font-size: 2.7em;
  font-weight: normal;
  width: 450px;

  grid-column-start: home-first;
  grid-column-end: home-line4;
  grid-row-start: home-row-line2;
  grid-row-end: home-row-line3;
}

button {
  text-transform: uppercase;
  font-weight: 500;
  width: 250px;
  height: 50px;
  padding: 1.2rem 2rem 2rem 2rem;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 25px;
  margin: auto;
  display: inline-block;

  transition: background-color;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

button.purple {
  background-color: #dec3fa;
  border: 1px solid #c3abdc;
}

button.purple:hover,
button.purple:focus {
  background-color: #d0b2ef;
}

button.yellow {
  background-color: #f2c944;
  border: 1px solid #d5b13c;
}

button.yellow:hover,
button.yellow:focus {
  background-color: #e9c03c;
}

button#seek {
  grid-column-start: home-first;
  grid-column-end: home-line2;
  grid-row-start: home-row-line4;
  grid-row-end: home-row-line5;
}

button#offer {
  grid-column-start: home-line6;
  grid-column-end: home-end;
  grid-row-start: home-row-line4;
  grid-row-end: home-row-line5;
}

button#newsletter {
  grid-column-start: home-line3;
  grid-column-end: home-line5;
  grid-row-start: home-row-line5;
  grid-row-end: home-row-end;
}

/************ FOOTER **************/

.main-foot {
  grid-area: footer;
  border-top: 2px solid lightgrey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: grey;

  /* height: calc(100vh - 48.5em); */
}

.footer-nav {
  --linkColor: #ffe17e;
}

.footer-nav a {
  font-size: 11px;
  color: black;
  text-decoration: none;
  display: block;
  margin: 3em 4em;

  background:
     linear-gradient(
       to bottom, var(--linkColor) 0%,
       var(--linkColor) 100%
     );
    background-position: 0 100%;
    background-repeat: repeat-x;
    background-size: 4px 2px;
  color: #000;
  text-decoration: none;
  transition: background-size .5s;
}

a:hover {
  background-size: 4px 50px;
}

ul.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 11px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
}

.footer-social {
  list-style: none;
  margin-top: 1em;
  font-size: 11px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

ul.footer-social a {
  font-size: 11px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 1.5em;
  margin-top: 1em;
}

a#email {
  padding-top: 2.8em;
}

.fb {
  color: #f2c944;
  font-family: "SelawikRegular", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding-top: 0;
}

div.copyright {
  font-size: 11px;
  text-align: center;
  padding: 2em;
}

/********* MEDIA QUERIES **********/

@media screen and (min-width: 1856px) {

  .wrapper.page-content {
    min-height: 600px;
  }

  .wrapper.offering {
    display: grid;
    margin-bottom: 10em;

    grid-template-columns: 1fr 10em 1fr;
    grid-template-rows: 4em 5em auto auto;
    grid-template-areas:
    "intro intro intro"
    ". . ."
    "english . french"
    ". . .";
  }

}

@media screen and (min-width: 1400px) {

  #nav-links a {
    padding: 1.5em 1em;
  }

}

@media screen and (max-width: 840px) {

  .wrapper.offering {
    width: 95%;
    margin-top: 0.5em;
    display: grid;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "intro intro"
    "english ."
    "french .";
  }

  .wrapper.offering > div.page-intro {
    grid-area: intro;
  }

  .wrapper.offering > button {
    width: 100%;
  }

  #eng {
    grid-area: english;
    margin-top: 2em;
  }

  #fr {
    grid-area: french;
    margin-bottom: 3em;
  }

}

@media screen and (max-width: 640px) {

  .wrapper.page-content {
    width: 95%;
    margin-top: 0.5em;
  }

  .seek-category {
    width: 100%;
    margin-bottom: 1em;
  }

  .wrapper.offering {
    display: grid;
    margin-bottom: 2em;

    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "intro"
    "english"
    "french";
  }

  .wrapper.offering > div.page-intro {
    grid-area: intro;
  }

  .wrapper.offering > button {
    width: 100%;
  }

  #eng {
    grid-area: english;
    margin-top: 2em;
  }

  #fr {
    grid-area: french;
    margin-bottom: 3em;
  }

}


@media screen and (max-width: 1115px) {

  .wrapper.services {
    grid-template-rows: auto;
  }

  nav {
    display: flex;
    overflow: hidden;
    height: auto;
    background-color: #5a2a88;
    padding: 0;
  }

  .main-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: stretch;
  }

  #logo {
    text-align: center;
    margin: auto;
    height: 4em;
    width: auto;
    padding: 0.1em 0;
  }

  ul#nav-links {
    text-align: center;
    padding-right: 5.5em;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-content: stretch;
  }

  #nav-links a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 12px;
    position: relative;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    transition: background-color 0.7s ease;
    -webkit-transition: all 0.7s ease;
  }

  #nav-lang a {
    color: #dec3fa;
    font-size: 12px;
    margin: 0;
    border-bottom: 1px solid #5a2a88;
  }

}
