/*


*/

html, body {
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1600px;
  display: grid;
}

header {
  width: 100%;
  height: auto;
}

nav {
  overflow: hidden;
  height: 3.5rem;
  background-color: #5a2a88;
  padding-left: 2em;
  padding-right: 2em;

  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-areas:
    "logo links lang"
}

nav ul {
  grid-area: links;
  list-style: none;
  margin: 0;
  font-size: 14px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: flex-end;
  align-content: stretch;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  padding: 1.5em;
}


#logo {
  grid-area: logo;
  height: 90%;
  width: auto;
}

#nav-lang {
  grid-area: lang;
  color: white;
  font-size: 18px;
  padding: 1em;
  text-align: right;
}

.main-head {
  width: 100%;
  height: 50em;
  background: url("img/header.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.wrapper.home {
  width: 80%;
  height: 100%;
  display: grid;

  grid-template-columns: [first] 29% [line2] 6.5% [line3] 14.5% [line4] 14.5% [line5] 6.5% [line6] 29% [end];
  grid-template-rows: [row-first] 15% [row-line2] 30% [row-line3] 2% [row-line4] 20% [row-line5] 20% [row-end];
}

h1#announce {
  font-size: 2.7em;
  font-weight: normal;
  width: 450px;

  grid-column-start: first;
  grid-column-end: line4;
  grid-row-start: row-line2;
  grid-row-end: row-line3;
}

button.home {
  text-transform: uppercase;
  font-weight: 500;
  width: 250px;
  background-color: yellow;
  text-align: center;
  border-radius: 20px;
  margin: 5em 3em;
  display: inline-block;
}

button#seek {
  background-color: #dec3fa;
  border: 1px solid #c3abdc;

  grid-column-start: first;
  grid-column-end: line2;
  grid-row-start: row-line4;
  grid-row-end: row-line5;
}

button#offer {
  background-color: #dec3fa;
  border: 1px solid #c3abdc;

  grid-column-start: line6;
  grid-column-end: end;
  grid-row-start: row-line4;
  grid-row-end: row-line5;
}

button#newsletter {
  background-color: #f2c944;
  border: 1px solid #d5b13c;

  grid-column-start: line3;
  grid-column-end: line5;
  grid-row-start: row-line5;
  grid-row-end: row-end;
}

.footer-nav {
  list-style: none;
  margin: 0;
  font-size: 14px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  justify-content: center;
}

.footer-nav a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 1.5em;
}

.footer-social {
  list-style: none;
  margin: 0;
  font-size: 12px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  display: flex;
  justify-content: center;
}

.footer-social a {
  font-size: 12px;
  color: black;
  text-decoration: none;
  display: block;
  padding: 1.5em;
}
